<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Page not found | Monshellog</title>
<link rel="stylesheet" type="text/css" media="all" href="/media/livesino/css/style.css">
<link rel="icon shortcut" type="image/x-icon" href="/media/fav.ico"/>

</head>
<body id="main">
<div class="h">
<div class="header">
<div class="nav">
<div class="nova-l">
<a href="/"><img src="/media/livesino/images/logo.png" id="livesino-logo" alt="MONShellog"/></a>

<div id="description">shello &amp; snow 是本blog的设计者，MONShellog中包含了他们俩的名字</div>
</div>

</div>
</div>
<div class="h">
<div class="fuss nova">错误 404 : 页面不存在，请确认输入的网址。</div>
<div class="kudos nova clearfix">
<div class="kudos-frame-left nova-l">
<div class="kudos-title kudos-top kudos-theme">
<a href="/"><img src="/media/livesino/images/oops.gif" id="kudos-oops" alt="404 ERROR"></a>
<h3>Other Places</h3>

<ul class="places">
<li><a href="/">主页 Homepage</a></li>
<li><a href="/archives">存档 Archives</a></li>
<li><a href="/entries">文章 Entries</a></li>
<li><a href="/links">链接 Links</a></li>
</ul>
</div>
</div>
<div class="kudos-frame-right nova-r">
<div class="kudos-widget nova-l">
<div class="kudos-title kudos-top"><a href="/"><img src="/media/livesino/images/404.png" id="kudos-title" alt="404 ERROR"></a></div>
<div class="google-search search kudos-top"><form method="get" action="http://www.google.cn/search" target="_top">
<input name="q" size="30" maxlength="255" value="请尝试 Google 搜索" class="search-input nova-l" onfocus="if (this.value == '请尝试 Google 搜索') {this.value = '';}" onblur="if (this.value == '') {this.value = '请尝试 Google 搜索';}" id="sbi" type="text"><input name="sa" value="" class="search-submit nova-r" id="sbb" type="submit">

</form></div>
<div class="keywords kudos-top clearfix"><h3>如发现 bug 请与作者联系<br><br><br></h3>
<ul class="nav-ul nova-r">
<li>E-mail:  <a href="mailto:shello1987@gmail.com">shello1987@gmail.com</a></ul>
</div>
<div class="keywords kudos-top clearfix">
<ul class="nav-ul nova-r"><li><a href="mailto:snowei1988@gmail.com">snowei1988@gmail.com</a></li>
</ul>
</div>
</div>
<div class="kudos-fuss"></div>
</div>
</div>
</div>
<div class="footer clearfix">
<div class="footer-bg"></div>
<div class="footer-credits">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td><span class="footer-fuss"><a href="http://www.apache.org/" target="_blank" title="Apache Web Server"><img src="/media/livesino/images/apache.png" alt="Apache"/></a></td>
<td><span class="footer-fuss"><a href="http://www.mysql.com/" target="_blank" title="The world's most popular open source database"><img src="/media/livesino/images/mysql.png" alt="MySQL"/></a></td>
<td><span class="footer-fuss"><a href="http://www.python.org/" target="_blank" title="Python Programming Language"><img src="/media/livesino/images/python.png"/></a></td>
<td><span class="footer-fuss"><a href="http://www.djangoproject.com/" target="_blank" title="Open Source Web Framework"><img src="/media/livesino/images/django.png" alt="Django"/></a></td>
<td><span class="footer-fuss">Theme by</span><br/><a href="http://livesino.net/theme-codename-h" target="_blank" style="color:#FF0000;" title="Get Theme Codename H">Codename H</a>

<td><span class="footer-fuss">Powered by <a href="/" style="color:#08328C;" target="_blank">shello &amp; snow</a><br>Copyright &copy; 2009 All rights reserved.</span></td>
</tbody></table>
</div>
</div>
</div>
</body></html>
